@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    overflow-x: hidden;
}

/* MENU */

.content {
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1f1e1f;
    position: fixed;
    padding-left: 30rem;
}

.logo {
    width: 70px;
    height: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logo h3 {
    color: white;
    font-size: 1.6rem;
}

.logo img {
    width: 100%;
    height: 100%;
}

.content .list-menu {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .list-menu li a {
    padding: 3rem 1rem 2rem 1rem;
    color: white;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500;
}

.content .list-menu li a:hover {
    background-color: #3333;
    border-bottom: 4px solid #ffc506;
    color: #ffc506;
    transition: all 200ms ease-in;
}

/* FIRST-SECTION */

.first-section {
    height: 100vh;
    background-image: linear-gradient(rgba(29, 29, 29,0.8), rgba(29,29,29,0.8)) ,url(img/fundopizza.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-section .conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-section h1 {
    color: #ffc506;
    font-size: 6rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.first-section h2 {
    color: rgb(177, 177, 177);
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 3rem;
    
}

.btn button {
    width: 230px;
    height: 60px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #ffc506;
    border-radius: 10px;
    color: black;
    font-weight: 700;
    margin-top: 5rem;
    transition: all 200ms ease-in;
}

.btn button:hover {
    background-color: transparent;
    border: 1px solid #ffc506;
    color: #ffc506;
    
}

.btn {
    width: 480px;
    display: flex;
    justify-content: space-between;
}